* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient: linear-gradient(
    to right,
    #5f0064, #a703af
  )
}

body {
    background-image: linear-gradient(
      to right, black, #221133
    );

    color: white;

    display: grid;
    place-content: center;
  }

div {
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

h1 {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
}

label {
  font-family: "Poppins", sans serif;
  font-weight: 400;
  font-style: normal;
}

button {
  display: inline-block;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: var(--gradient);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  border: none;
}

button:hover {
  background-color: white;
  color: #221133;
}

#botao-conta {
  position: absolute;
  margin-left: 100px;
  margin-top: -46px;
}

input[type="email"] {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  outline: none;
  margin-bottom: 20px;
  margin-left: 9px;
  margin-top: 20px;
}

input[type="password"] {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  outline: none;
  margin-bottom: 20px;
  margin-left: 10px;
}

form button {
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  div {
    width: 400px;
    margin: auto;
  }
}